@keyframes left {
  to {
    transform: rotateY(-60deg);
  }
}
@keyframes right {
  to {
    transform: rotateY(-60deg);
  }
}
.canvas {
  width: 134px;
  height: 141px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bf {
  width: 34px;
  height: auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.bf[class^="wing-"] {
  width: 50%;
}
.bf[class^="wing-"] img {
  width: 100%;
  height: auto;
}
.bf .wing-left {
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
}
.bf .wing-right {
  animation: right 0.5s linear infinite alternate;
  transform-origin: left;
}
.bf .wing-right img {
  transform: scaleX(-1);
}
.bf.bf-1 {
  top: 25%;
  transform: rotate(-8deg);
}
.bf.bf-2 {
  top: 30%;
  width: 16px;
  left: 50%;
  transform: rotate(-10deg);
}
.bf.bf-2 [class^="wing"] {
  animation-delay: 250ms;
  animation-duration: 300ms;
}
.bf.bf-3 {
  width: 11px;
  left: auto;
  right: 5px;
  transform: rotate(10deg);
}
.bf.bf-3 [class^="wing"] {
  animation-delay: 200ms;
  animation-duration: 250ms;
}
.bf.bf-4 {
  top: 50%;
  width: 20px;
  left: auto;
  right: 0;
  transform: rotate(1deg);
}
.bf.bf-4 [class^="wing"] {
  animation-delay: 300ms;
  animation-duration: 350ms;
}
.bf.bf-5 {
  top: auto;
  bottom: 0;
  width: 28px;
  left: 40%;
  transform: rotate(45deg);
}
.bf.bf-5 [class^="wing"] {
  animation-delay: 250ms;
  animation-duration: 400ms;
}
